<div class=" main-wrapper">
  <h1 class="title">{{ 'products.title' | translate }}</h1>
  <hr/>
  <div class="product-list">
    <tfm-product-table
      [rows]="products()!"
      [isLoading]="isLoading()"
      [totalItems]="totalItems()"
      [itemsPerPage]="itemsPerPage()"
      [currentPage]="currentPage().page!"
      (pageChange)="onPageChange($event)"
      (changePageSize)="onPageSizeChange($event)"
      (productSelected)="onProductSelected($event)"
      (productNameClick)="onProductNameClick($event)"
    ></tfm-product-table>
  </div>
</div>
