* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #F0F0F0 !important;
  min-height: 100vh;
}
.header{
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 999;
  top: 0;
  padding: 0 1.625rem;
  border-bottom-left-radius: 1rem ;
  border-bottom-right-radius: 1rem ;
  background-color: #001A71FF;
  color: white;
  margin: 0 auto;
}
.links{
  display: flex;
  gap: 16px;
}
a{
  text-decoration: none !important;
  height: inherit;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  gap: 8px;
}
a:hover{
  cursor:pointer;
}

.white{
  color: white;
}
img{
  height: 1.5rem;
  width: 1.5rem;
  color: white;
}
.title{
  font-size: 36px;
  line-height: 2.5rem;
}
.subtitle{
  font-size: 24px;
  line-height: 2rem;
}
.small-text{
  font-size: 18px;
  line-height: 2rem;
}
.smaller-text{
  font-size: 14px;
  text-align: center
}

footer {
  width: 80%;
  background-color: white;
  box-shadow:  1px 1px 2px 0 rgb(155 195 211 / 30%);
  border: 1px solid #dbe0e3;
  padding: 35px 36px 30px;
  color: #444444;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.flag-container {
  display: flex;
  justify-content: space-evenly;
  width: 10%;
}
.mini-text {
  font-size: 0.75rem;;
  text-align: center
}
.main-wrapper{
  height: 100%;
  width: 80%;
  padding: 36px;
  margin: 130px auto 0 auto;
  background-color: white;
  border-radius: 1rem ;
  border: 1px solid #dbe0e3;
  box-shadow:  1px 1px 2px 0 rgb(155 195 211 / 30%);
}
.btn{
  width: 150px;
  background-color: #001A71FF !important;
  border: 1px  #001A71FF !important;
}
.center{
  display: flex;
  width: 100%;
  justify-content: center;
}
.errorLabel{
  color: #ec0000;
  font-size:14px;
}
